

/*background img for page*/
body {
     background-image: url('Images/blue_water.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size:100%;
     background-position: center;
 }

/*Networking card*/
.card {
    margin-top: 40px;
   }

 h2 {
     font-family: cursive; 
 }
   
