/*header*/
.subnav-hero-section {
  text-align: center;
  background: url(Images/hero-header.jpg);
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  border-bottom: white solid 5px;
}

.subnav-hero-section .subnav-hero-headline {
  color:black;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: black;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background:white;
}

.subnav-hero-subnav li a:hover {
  background:grey;
}

/*header*/
.subnav-hero-headline {
  font-family: 'Courier New', Courier, monospace;
  font-size: 55px;
}
.name {
  font-family: 'Brush Script MT', cursive ;
  font-size: 35px;
}

/*background img for page*/
body {
    background-color: rgb(27, 27, 27);
 }
  
#logoHeader {
  padding-right: 50px;
}

/*sailing image*/

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

#sailingImg {
  padding-top: 50px;
  padding-right: 15px;
  width: 550px;
  height: 550px;
  margin-left: auto;
}

#experienceStatement {
  padding-top: 140px;
}

/*about me testimonial*/
.testimonial-block-vertical-quote {
  background: rgba(233, 239, 245, 0.863);
  padding: 1rem;
  border-radius: 0;
  margin-bottom: 1.875rem;
  position: relative;
}

.testimonial-block-vertical-quote p {
  margin-bottom: 0;
}

.testimonial-block-vertical-quote::after {
  content: '';
  bottom: -1.25rem;
  left: 2.25rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.25rem 1.125rem 0 1.125rem;
  border-color: rgba(224, 236, 247, 0.863) transparent transparent transparent;
  position: absolute;
}

.testimonial-block-vertical-person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.65rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
  text-transform: uppercase;
  color:aliceblue;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: 14px;
  color: #f7f4f4;
  margin-bottom: 0;
  margin-left: 0.65rem;
}


/*about me paragraph*/
#aboutMe {
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;

}

/*Networking card*/
.card {
  width: 100% ;
  margin-left: auto;
 }

h2 {
   font-family: cursive; 
}

/*footer*/
.social-footer {
  padding: 1rem;
  border-top: white solid 5px;
  background-color: aliceblue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

@media print, screen and (min-width: 40em) {
  .portfolio-resume-scrolling {
    height: 400px;
    overflow-y: auto;
  }
}


 
